<!DOCTYPE html>
<html>
    <body style="background-color:powderblue;">
            
<h1 align="center">Gif Search</h1>
<form>
    <center>
    <input type="text" placeholder="Search" name="query">
    <button type="submit" value="Submit">SEARCH</button>
    </center>
 </form>

<center>
{% if gifs %}
    The gif you chose is:
    <ul>
        {% for gif in gifs %}
        {% include 'gif.html' %}
        {% endfor %}
    </ul>
{% else %}
    You did not choose a gif
{% endif %}
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<center>

</body>
</html>
